body {
  margin: 0px;
  text-align: center;
  
}

.item-a {
    grid-area: header;
    color: white;
    background-color: rgb(3, 2, 59);
    text-align: center;
    margin: 0px;
    
  }
  .item-e {
    grid-area: nav;
    background-color: white;
    padding-left: 10px;
    text-align: center;

  }
  .item-b {
    grid-area: main;
    color: white;
    background-color: rgb(11, 44, 163);
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    
    
    
  }
  .item-c {
    grid-area: sidebar;
    color: white;
    background-color: rgb(62, 118, 223);
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
   
  }
  .item-d {
    grid-area: footer;
    color: black;
    background-color: rgb(118, 171, 206);
    padding-left: 50px;
    text-align: center;
   
  }


  .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "nav nav nav nav"
      "main main main sidebar"
      "footer footer footer footer";
      margin: 0 auto;
      width: 80%;
  }
  .icon {
    width: 20%;
    margin: 40px;
  }
  
  .e4 {
    width: 80%;
    margin: 40px;
  }
  .image {
    width: 200px;
    margin: 20px;
  }
  .piece {
    width: 100px;
    margin: 5px;
  }
  .intro {
    width: 55%;
    margin: 10px;
  }
  /* unvisited link */ a:link { color: red; } /* visited link */ a:visited { color: green; }
