.item-a {
    grid-area: header;
    color: white;
    background-color: black;
    text-align: center;
  }
  .item-e {
    grid-area: nav;
    color: white;
    background-color: rgb(83, 48, 7);
  
  }
  .item-b {
    grid-area: main;
    color: white;
    background-color: black;
  }
  .item-c {
    grid-area: sidebar;
    color: white;
    background-color: black;
  }
  .item-d {
    grid-area: footer;
    color: rgb(228, 202, 132);
    background-color: rgb(83, 48, 7);
  }

  .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "nav nav nav nav"
      "main main . sidebar"
      "footer footer footer footer";
  }
  .icon {
    width: 20%;
    margin: 40px;
  }